<div class="slider movie-items">
  <div class="container">
    <div class="title row">
      <h1>Drive In Cinema</h1>
    </div>
    <div class="row">
      <div class="social-link">
        <p>Follow us:</p>
        <a href="https://www.facebook.com/Likeasp"
          ><mat-icon aria-hidden="false" aria-label="facebook"
            >facebook</mat-icon
          ></a
        >
      </div>
      <div class="slick-multiItemSlider">
        <div class="movie-item" *ngFor="let movie of movies">
          <div class="mv-img">
            <img src="{{ movie.src }}" class="w-101" />
          </div>
          <div class="title-in">
            <div class="cate">
              <span
                *ngFor="let category of movie.category; index as index"
                class="{{ movie.categoryColor[index] }}"
                ><a href="#">{{ category }}</a></span
              >
            </div>
            <h6>
              <a href="#">{{ movie.name }}</a>
            </h6>
            <p>
              <mat-icon aria-hidden="false" aria-label="star">star</mat-icon
              ><span>{{ movie.rating }}</span> /10
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
