.logo-header {
  color: rgb(55, 115, 184);
  font-weight: bold;
  font-size: 40px !important;
  width: 218px;
  font-family: "Audiowide";
  margin: 0px 20px 0px 0px;
}
.cinema-header {
  color: #eee;
  font-weight: normal;
  font-size: 27px !important;
}
a {
  text-decoration: none;
}
.sign-up {
  border-radius: 30px;
  width: 126px;
  color: white !important;
}
nav {
  padding: 40px 50px 0px;
  background-color: #0f213300 !important;
  display: flex;
  align-items: flex-end;
  /* #0f2133 */
}
.nav-link {
  margin-right: 15px;
}
.navbar-expand-md .navbar-collapse {
  justify-content: space-between;
}
.navbar-nav li a {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.dropdown-divider {
  color: #3773b8;
  height: 3px;
}
.navbar-nav li a:hover {
  color: rgb(55, 115, 184);
}
.btn-danger {
  background-color: #c2185b;
  color: white;
}
.header-fixed {
  background: #0f2133ed !important;
  padding: 23px 50px;
}
.navbar-brand {
  margin-right: 2rem;
}
.dropdown-menu {
  background-color: #132333f5;
  padding: 25px 11px;
}
