<div class="container2">
  <div class="card" *ngFor="let movie of movies; index as index">
    <input
      type="checkbox"
      [(ngModel)]="movie.checked"
      id="{{ movie.id }}"
      style="display: none"
      (click)="UnSelect(movie, index)"
    />
    <label class="checkbox-img" for="{{ movie.id }}">
      <img src="{{ movie.src }}" />
      <div class="card__head">{{ movie.name }}</div>
      <div class="title-in cate-in">
        <div class="cate">
          <span
            *ngFor="let category of movie.category; index as index"
            class="{{ movie.categoryColor[index] }}"
            ><a href="#">{{ category }}</a></span
          >
        </div>
      </div>
      <div class="title-in">
        <h4>Start Time:</h4>
        <h4>{{ " " + movie.start }}</h4>
        <br />
        <h4>End Time:</h4>
        <h4>{{ " " + movie.end }}</h4>
        <br />
        <h4>Date:</h4>
        <h4>{{ " " + movie.date }}</h4>
        <br />
      </div>
      <div class="radio-div">
        <div class="radio">
          <div class="rad-div">عدد المرافقين :</div>
        </div>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
        >
          <mat-radio-button
            #id
            class="example-radio-button"
            *ngFor="let passenger of passengers"
            [value]="passenger"
            (click)="select(passenger, movie, index)"
          >
            {{ passenger }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </label>
  </div>
</div>
