<div class="nots nots1">
    <h3>معلومات عن الحجز:</h3>
    <ul>
        <li>يرجى تثبيت الحجز خلال 48 ساعة و استلام البطاقة عند الدخول</li>
        <li>بطاقة الدخول تتضمن إشتراك مجاني لمدة 3 أشهر إنترنت وخدمة تلفزيون رقمي</li>
        <li>بطاقة الدخول تخولك بالدخول بسحب على جوائز قيمة</li>
        <li>ستحصل على كوبون مع بطاقة الدخول لاستبداله بمشرب ساخن أو بوشار</li>
    </ul>
</div>
<div class="nots">
<h3>يرجى مراعاة ما يلي:</h3>
<ul>
    <li>عدم جلوس أكثر من أربعة أشخاص في السيارة الواحدة كحد أقصى</li>
    <li>عدم الخروج من السيارة خلال فترة العرض</li>
    <li>الحفاظ على أضواء السيارة الأمامية مطفأة خلال فترة العرض</li>
    <li>الالتزام بتردد إذاعة الراديو التي تنقل العرض وعدم تغييرها على الإطلاق</li>
    <li>عدم وجود اي حاجب رؤية على البلور الأمامي للسياراة ( الفيمي )</li>
</ul>
</div>