<footer class="ht-footer">
  <div class="container">
    <div class="flex-parent-ft">
      <div class="flex-child-ft item1">
        <a routerLink=""
          ><div class="logo-footer">
            <h2 class="logo-footer">
              LIKE <b class="cinema-footer">cinema</b>
            </h2>
          </div></a
        >
        <a
          target="_blank"
          href="https://www.google.com/maps/place/Internet+Service+Provider+SAWA/@33.507368,36.2765299,656m/data=!3m1!1e3!4m5!3m4!1s0x1518e0b0d0b01ced:0xdfd586c676eafb2d!8m2!3d33.5073635!4d36.2787186"
          ><p style="color: #fff">دمشق - الجمارك<br />المنطقة الحرة</p></a
        >
        <p>
          <span style="font-size: 20px; color: #fff">(+963) 011&nbsp;4084</span>
          &nbsp; للانضمام اتصل بنا
        </p>
      </div>
      <div class="flex-child-ft item2">
        <h4>Resources</h4>
        <ul>
          <li>
            <a target="_blank" href="https://likesyria.sy/about_us"
              >عن الشركة</a
            >
          </li>
          <li>
            <a target="_blank" href="https://likesyria.sy/contact_us"
              >اتصل بنا</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-child-ft item3">
        <h4>Like TV Profile</h4>
        <ul>
          <li>
            <a target="_blank" href="https://likesyria.sy/mychannels">محطاتي</a>
          </li>
          <li>
            <a target="_blank" href="https://likesyria.sy/mychannels"
              >الفيديو عند الطلب</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-child-ft item4">
        <h4>TV guide</h4>
        <ul>
          <li>
            <a target="_blank" href="https://likesyria.sy/tv-schedule"
              >مواعيد العروض</a
            >
          </li>
          <li>
            <a target="_blank" href="https://likesyria.sy/subscribe">محطاتنا</a>
          </li>
        </ul>
      </div>
      <div class="flex-child-ft item5">
        <h4>Like TV</h4>
        <ul>
          <li>
            <a target="_blank" href="https://likesyria.sy/home#">تطبيق لايك</a>
          </li>
          <li>
            <a target="_blank" href="https://likesyria.sy/like_desktop_app.msi"
              >تطبيق لايك (Desktop)</a
            >
          </li>
        </ul>
        <a target="_blank" href="https://likesyria.sy/login" class="btn"
          >اشترك الآن <i class="ion-ios-arrow-forward"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="ft-copyright">
    <div class="licenses">
      <p>Like Cinema 2021 كل الحقوق محفوظة</p>
    </div>
  </div>
  <p-scrollTop></p-scrollTop>
</footer>
