<app-header></app-header>
<mat-drawer-container
  class="example-container"
  autosize
  *ngIf="isadmin; else notadmin"
>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h1>{{ gg }}</h1>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="admin/editMovies">Edit Movies</a></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="admin/likeClients">Like Clients</a></mat-list-item
      >
      <mat-divider></mat-divider>
    </mat-list>
    <br />
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content" style="z-index: 1">
    <button type="button" class="click" (click)="drawer.toggle()">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >sort</mat-icon
      ></button
    ><router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<ng-template #notadmin>
  <router-outlet></router-outlet>
</ng-template>
<app-footer></app-footer>
