.example-container {
  width: 100%;
  background: none;
  min-height: 400px;
}
.example-sidenav-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.example-sidenav {
  padding: 20px;
  background: url("../assets/Images/uploads/ft-bg.jpg");
  position: fixed;
  top: 87px;
}
.click {
  font-size: 20px;
  height: 45px;
  width: 45px;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #ffffff;
  background-color: #c2185b;
  opacity: 0.9;
  position: fixed;
  z-index: 1;
}
a {
  color: #ffffff;
  text-decoration: none;
}
