<app-header></app-header>
<mat-drawer-container
  class="example-container"
  autosize
  *ngIf="isadmin == 'true'; else notadmin"
>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h1>{{ "Wellcome " + userName }}</h1>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="admin/editMovies">Edit Movies</a></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="admin/likeClients">Like Clients</a></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-list-item
        ><a routerLink="admin/clientRegistration"
          >Like Clients Registration</a
        ></mat-list-item
      >
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content" style="z-index: 1">
    <button type="button" class="click" (click)="drawer.toggle()">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >sort</mat-icon
      ></button
    ><router-outlet (activate)="onActivate($event)"></router-outlet>
    <app-footer></app-footer>
  </div>
</mat-drawer-container>
<ng-template #notadmin>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
  <app-footer></app-footer>
</ng-template>
