<form id="regForm">
  <div class="title">
    <h1>Drive In Cinema</h1>
  </div>
  <div class="tab" [style.display]="ahmad ? 'block' : 'none'">
    <div class="form-header1">اضغط على الفلم المطلوب مشاهدته ليتم تحديده</div>
    <app-movieselect></app-movieselect>
  </div>
  <div class="tab" [style.display]="ahmad ? 'none' : 'block'">
    <div class="form-header2">معلومات شخصية :</div>
    <p>
      <input
        placeholder="اسم المستخدم"
        oninput="this.className = ''"
        name="username"
      />
    </p>
    <p>
      <input
        placeholder="رقم الموبايل"
        oninput="this.className = ''"
        name="phone"
      />
    </p>
    <p>
      <input
        placeholder="رقم لوحة السيارة"
        oninput="this.className = ''"
        name="carnumber"
      />
    </p>
  </div>
  <app-nots></app-nots>
  <div class="nextandprev" style="overflow: auto">
    <div style="float: right">
      <button type="button" id="prevBtn" (click)="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" (click)="nextPrev(1)">Next</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align: center; margin-top: 40px">
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>
